// -----------------------------------------------------------------
// Reset
// -----------------------------------------------------------------

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
}

#root, #__next {
  isolation: isolate;
}
