// -----------------------------------------------------------------
// Reset
// -----------------------------------------------------------------

:root {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: var(--font-text), sans-serif;
  font-weight: 400;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: clip;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-background);
  color: var(--color-text);
  transition: background 500ms linear, color 500ms ease-in-out;
}

::selection {
  background: var(--color-text);
  color: var(--color-background);
  -webkit-text-fill-color: currentColor;
}

a {
  text-decoration: none;
  text-underline-offset: .25ex;
  color: inherit;
}

main {
  flex: 1 1 auto;
  width: 100%;
  display: grid;
  margin-block-end: 3rem;
}

.wrapper {
  padding: 0 1rem;
  max-inline-size: var(--container-max-width);
  margin-inline: auto;
}

.wrapper--full {
  max-inline-size: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
}

#root, #__next {
  isolation: isolate;
}
