// -----------------------------------------------------------------
// Root
// -----------------------------------------------------------------

:root {
  --radius: 1rem;
  --space: 1rem;
  --space-large: 1.5rem;
  --font-title: system-ui, sans-serif;
  --font-text: system-ui, sans-serif;
  --font-code: ui-monospace, "SF Mono", SFMono-Regular, 'Source Code Pro', Consolas, monospace;
  --container-max-width: 1280px;

  --live-memory-gradient-blue: linear-gradient(90deg, #148f7d 0%, #79eaf8 50%, #237de0 100%);
  --live-memory-gradient-green: linear-gradient(113.84deg, #518c1c 0%, #0b592b 71.83%, #247939 100%);
  --live-memory-gradient-orange: radial-gradient(circle, rgb(225, 97, 58) 0%, rgb(195, 168, 34) 50%, rgb(252, 118, 20) 100%);
  --live-memory-gradient-pink: radial-gradient(circle, rgb(189, 58, 225) 0%, rgb(39, 45, 115) 50%, rgb(197, 82, 201) 100%);

  --live-memory-blue: #237de0;
  --live-memory-blue-rgb: 35, 125, 224;
  --live-memory-green: #518c1c;
  --live-memory-green-rgb: 81, 140, 28;
  --live-memory-orange: #FC7614; // rgb(252, 118, 20)
  --live-memory-orange-rgb: 252, 118, 20;
  --live-memory-pink: #bd3ae1;
  --live-memory-pink-rgb: 189, 58, 225;
}

:root {
  --color-text: #DEE2E6;
  --color-text-rgb: 222 226 230;
  --color-background: #212529;
  --color-background-rgb: 33 37 41;
  --color-border: #1a1d20;
}

[data-live-memory-theme="blue"] {
  --live-memory-color-rgb: var(--live-memory-blue-rgb);
  --live-memory-color: var(--live-memory-blue);
  --live-memory-gradient: var(--live-memory-gradient-blue);
}

[data-live-memory-theme="green"] {
  --live-memory-color: var(--live-memory-green);
  --live-memory-color-rgb: var(--live-memory-green-rgb);
  --live-memory-gradient: var(--live-memory-gradient-green);
}

[data-live-memory-theme="orange"] {
  --live-memory-color: var(--live-memory-orange);
  --live-memory-color-rgb: var(--live-memory-orange-rgb);
  --live-memory-gradient: var(--live-memory-gradient-orange);
}

[data-live-memory-theme="pink"] {
  --live-memory-color: var(--live-memory-pink);
  --live-memory-color-rgb: var(--live-memory-pink-rgb);
  --live-memory-gradient: var(--live-memory-gradient-pink);
}
