<div{{ attributes }}>

    <input type="text"  data-model="query" placeholder="Results update as you type..." class="form-control" />

    <div class="PackageList pt-3" data-loading="addClass(opacity-50)">
        {% for package in computed.packages %}
            {{ include('components/Package/PackageListItem.html.twig', {package}) }}
         {% else %}
            No packages found "{{ query }}"
        {% endfor %}
    </div>

</div>
