# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
yarn-error.log

.doctor-rst.cache
.php-cs-fixer.cache
.phpunit.result.cache

/composer.lock
/vendor
