.component-arrow {
  color: $n-200;
}

.arrow {
  background: url(../images/arrow.png);
  width: 100%;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  [data-bs-theme="dark"] & {
    filter: invert(100);
    opacity: .75;
  }
}

.arrow-2 {
  background: url(../images/arrow-2.png);
  width: 100%;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  [data-bs-theme="dark"] & {
    filter: invert(100);
    opacity: .75;
  }
}
