.ubuntu {
  font-family: var(--font-family-title);
}

.playfair {
  font-family: var(--font-family-decorative);
}

.font-title {
  font-family: var(--font-family-title);
}

.font-text {
  font-family: var(--font-family-text);
}

.font-code {
  font-family: var(--font-family-code);
}
