:root {
  --dropzone-background: white;
  --dropzone-background-hover: #dddddd;
  --dropzone-border-color: #aaaaaa;
  --dropzone-border-color-hover: #666666;
  --dropzone-text-color: ##333333;

  --dropzone-spacing: 8px;
  --dropzone-radius: 8px;

  --dropzone-width: cacl(100% - 2 * var(--dropzone-spacing));
  --dropzone-height: 120px;
  --dropzone-image-size: 100px;
}

.dropzone-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: var(--dropzone-height);
  width: var(--dropzone-width);
  border: 2px dashed var(--dropzone-border-color);
  padding: var(--dropzone-spacing);
  border-radius: var(--dropzone-radius);
  color: var(--dropzone-text-color);
  background-color: var(--dropzone-background);
}

.dropzone-container:has(.dropzone-preview:empty) .dropzone-preview-button {
  display: none;
}

.dropzone-container:hover,
.dropzone-on-drag-enter {
  background-color: var(--dropzone-background-hover);
  transition: 0.3s;
}

.dropzone-input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.dropzone-preview {
  display: grid;
  gap: var(--dropzone-spacing);
  grid-template-columns: repeat(auto-fill, var(--dropzone-image-size));
  grid-template-rows: auto;
  place-items: stretch;
  width: 100%;
  height: 100%;
}

.dropzone-preview-file {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  word-wrap: anywhere;
}

.dropzone-preview-file:hover {
  filter: brightness(110%);
}

.dropzone-preview-image {
  margin-bottom: var(--dropzone-spacing);
  width: var(--dropzone-image-size);
  aspect-ratio: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: var(--dropzone-radius);
  box-shadow: 0 0 8px var(--dropzone-background-hover);
}

.dropzone-no-preview  {
  margin-bottom: var(--dropzone-spacing);
  height: var(--dropzone-image-size);
}

.dropzone-no-preview svg {
  width: 100%;
}


.dropzone-preview-file span {
  font-weight: 300;
  font-size: 0.9em;
}

.dropzone-preview-button {
  position: absolute;
  top: var(--dropzone-spacing);
  right: var(--dropzone-spacing);
  z-index: 1;
  border: none;
  margin: 0;
  background: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.dropzone-placeholder {
  flex-grow: 1;
  text-align: center;
}

.dropzone-on-drag-leave {
  background-color: var(--dropzone-background);
  transition: 0.3s;
}
