<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony UX Collection</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
