{% use 'form_div_layout.html.twig' %}

{%- block team_row -%}
    {% set row_attr = row_attr|merge({
        style: 'margin-bottom: 16px; background: #efefef; border: 1px solid #ccc; padding: 16px; border-radius: 4px;'
    }) %}

    {{ block('collection_row') }}
{%- endblock -%}

{%- block player_row -%}
    {% set row_attr = row_attr|merge({
        style: 'margin-bottom: 16px; background: white; border: 1px solid #ccc; padding: 16px;  border-radius: 4px;'
    }) %}

    {{ block('collection_row') }}
{%- endblock -%}

{%- block button_widget -%}
    {% set attr = attr|merge({
        style: 'background: white; border: 1px solid #ccc; padding: 8px 16px;  border-radius: 4px;'
    }) %}

    <div style="margin-top: 8px; display: flex; justify-content: start; flex-wrap: wrap;">
        {{ parent() }}
    </div>
{%- endblock -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({
        style: 'font-weight: bold; font-family: sans-serif; font-size: 14px; cursor: pointer;'
    }) %}

    <div style="margin-top: 8px; display: flex; justify-content: start; flex-wrap: wrap;">
        {{ parent() }}
    </div>
{%- endblock -%}
