.hero {
  padding-top: 5rem;
}

.hero-background {
  padding-block-start: 4rem;
}

.hero-sub-text {
  width: 50%;
  text-wrap: balance;
}
.hero-sub-text a {
  border-bottom: 1.5px solid #ffff;
  text-decoration: none;
}
.hero-sub-text a:hover {
  color: inherit;
}

@media (max-width: 1114px) {
  .hero-sub-text {
    width: 60%;
  }
}

@media (max-width: 734px) {
  .hero-sub-text {
    width: 80%;
  }
}

.hero-terminal {
  transform: translateY(50%);
}

