<div class="DemoContainer py-3 px-4 d-flex align-items-center">
    <img width="30px" src="{{ asset('images/sf-logo.png') }}" alt="Symfony logo">
    <p class="d-inline ms-3 m-0">{% block title %}{% endblock %}</p>
</div>
<div class="DemoContainer-inner p-4">
    {% block content %}{% endblock %}
</div>

{% block content_secondary %}{% endblock %}
