{% extends 'ux_packages/package.html.twig' %}

{% block importmap %}
    {{ importmap('app-react') }}
{% endblock %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'react',
        eyebrowText: 'React Component Rendering'
    } %}
        {% block title_header %}
            Render React from <em>inside Twig</em>
        {% endblock %}

        {% block sub_content %}
            Built a React component? Render it quickly &amp; easily in Twig <em>and</em> pass in dynamic props.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="assets/react/src/controllers/PackageSearch.jsx" height="300px" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock
        filename="templates/ux_packages/react.html.twig"
        height="300px"
        targetTwigBlock="demo_content"
    />
{% endblock %}

{% block demo_title %}UX React{% endblock %}

{% block demo_content %}
    <div {{ react_component('PackageSearch', {packages: packagesData}) }}>
        Loading...
    </div>
{% endblock %}
