{% extends 'packageBase.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'swup',
        eyebrowText: 'Slick Page Transitions'
    } %}
        {% block title_header %}
            Ajax Page Transitions with
            <span class="playfair ps-2">Swup</span>
        {% endblock %}

        {% block sub_content %}
            Replace full page refreshes with Ajax-powered, stylized page transitions (an alternative to Turbo).
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="src/Controller/UxPackage/SwupController.php"/>
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock
        filename="templates/ux_packages/swup.html.twig"
        targetTwigBlock="swup_specific_demo_content"
    />
{% endblock %}

{% block demo_title %}UX Swup{% endblock %}

{% block demo_content %}
    {% block swup_specific_demo_content %}
        <div {{ stimulus_controller('symfony/ux-swup/swup') }} id="swup" data-turbo="false">
            <div class="row">
                {% for package in pager %}
                    {{ include('main/_package_in_list.html.twig') }}
                {% endfor %}
            </div>

            <div class="mt-3">
                {{ pagerfanta(pager, 'twitter_bootstrap5') }}
            </div>
        </div>
    {% endblock %}

    <div class="d-flex eyebrows pt-3 align-items-center">
        <div>Ajax-powered page navigation</div>
        <twig:Icon name="circle-fill" style="font-size: .25rem" class="mx-2" />
        <div>URL in address bar changes</div>
        <twig:Icon name="circle-fill" style="font-size: .25rem" class="mx-2" />
        <div>Customizable transitions</div>
    </div>
{% endblock %}
