{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'translator',
        eyebrowText: 'JavaScript-enabled Translation'
    } %}
        {% block title_header %}
            Translations directly imported in <em>JavaScript</em>
        {% endblock %}

        {% block sub_content %}
            Write & manage your translations like you always do. Then use them just as easily in JS.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="translations/messages+intl-icu.en.yaml" height="300px"/>
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="translations/messages+intl-icu.fr.yaml" height="300px"/>
{% endblock %}

{% block demo_title %}UX Translator{% endblock %}

{% block demo_content %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'HELLO',
        } %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'SAY_HELLO',
            parameters: {
                name: 'Fabien'
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="SAY_HELLO-name" class="small opacity-50">Name</label>
                    <input id="SAY_HELLO-name" class="form-control"
                           type="text" name="name" value="Fabien"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'INVITATION_TITLE',
            parameters: {
                organizer_gender: 'Fabien',
                organizer_name: 'Clara',
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="INVITATION_TITLE-organizer_gender" class="small opacity-50">Gender</label>
                    <select id="INVITATION_TITLE-organizer_gender" class="form-select"
                        name="organizer_gender"
                        data-translator-demo-block-target="parameters"
                        data-action="translator-demo-block#render"
                    >
                        <option value="female" selected>Female</option>
                        <option value="male">Male</option>
                        <option value="multiple">Multiple</option>
                        <option value="trans">Trans</option>
                    </select>
                </div>
                <div>
                    <label for="INVITATION_TITLE-organizer_name" class="small opacity-50">Name</label>
                    <input id="INVITATION_TITLE-organizer_name" class="form-control"
                           name="organizer_name"
                           value="Clara"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'NUM_OF_APPLES',
            parameters: {
                apples: 2
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="NUM_OF_APPLES-apples" class="small opacity-50">Count</label>
                    <input id="NUM_OF_APPLES-apples" class="form-control"
                           name="apples" type="number" min="0" max="5" value="2"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'FINISH_PLACE',
            parameters: {
                place: 2
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="FINISH_PLACE-apples" class="small opacity-50">Place</label>
                    <input id="FINISH_PLACE-apples" class="form-control"
                           name="place" type="number" min="0" max="5" value="1"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'PUBLISHED_AT',
            parameters: {
                publication_date: '2023-04-27 08:12'
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="PUBLISHED_AT-publication_date" class="small opacity-50">Date</label>
                    <input id="PUBLISHED_AT-publication_date" class="form-control"
                           name="publication_date" type="datetime-local" value="2023-04-27 08:12"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

         {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'PROGRESS',
            parameters: {
                progress: 42
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="PROGRESS-progress" class="small opacity-50">Place</label>
                    <input id="PROGRESS-progress" class="form-range"
                           name="progress" type="range" min="0" max="100" value="42"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'VALUE_OF_OBJECT',
            parameters: {
                value: 30
            },
        } %}
            {% block parameters %}
                <div>
                    <label for="VALUE_OF_OBJECT-value" class="small opacity-50">Value</label>
                    <input id="VALUE_OF_OBJECT-value" class="form-control"
                           name="value" type="number" min="1"  value="30" step="0.1"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

{% endblock %}
