{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'translator',
        eyebrowText: 'JavaScript-enabled Translation'
    } %}
        {% block title_header %}
            Translations directly imported in <em>JavaScript</em>
        {% endblock %}

        {% block sub_content %}
            Write & manage your translations like you always do. Then use them just as easily in JS.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="translations/messages+intl-icu.en.yaml" height="300px" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="translations/messages+intl-icu.fr.yaml" height="300px" />
{% endblock %}

{% block demo_title %}UX Translator{% endblock %}

{% block demo_content %}
    <div data-controller="translator-demo">
        <div data-translator-demo-target="localeSwitcher" style="position: absolute; top: 16px; right: 16px ">
            <div class="row">
                <label for="translator-demo-locale" class="col-3 col-form-label">Locale</label>
                <div class="col">
                    <select id="translator-demo-locale" class="form-select" data-action="translator-demo#setLocale">
                        <option value="en">🇬🇧 English</option>
                        <option value="fr">🇫🇷 French</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5">
                <div class="h3 text-center text-body">Code</div>
            </div>
            <div class="col">
                <div class="h3 text-center text-body">Result</div>
            </div>
            <div class="col-4">
                <div class="h3 text-center text-body">Parameters</div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="helloCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="helloOutput"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="sayHelloCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="sayHelloOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="sayHelloNameInput" class="col-3 col-form-label text-end">Name</label>
                    <div class="col">
                        <input
                            type="text"
                            value="Fabien"
                            class="form-control"
                            id="sayHelloNameInput"
                            data-translator-demo-target="sayHelloNameInput"
                            data-action="translator-demo#render"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="invitationTitleCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="invitationTitleOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="invitationTitleOrganizationGenderInput" class="col-3 col-form-label text-end">Gender</label>
                    <div class="col">
                        <select
                            id="invitationTitleOrganizationGenderInput"
                            class="form-select"
                            data-translator-demo-target="invitationTitleOrganizationGenderInput"
                            data-action="translator-demo#render"
                        >
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="multiple">Multiple</option>
                            <option value="trans">Trans</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invitationTitleOrganizationNameInput" class="col-3 col-form-label text-end">Name</label>
                    <div class="col">
                        <input
                            id="invitationTitleOrganizationNameInput"
                            type="text"
                            value="Clara"
                            class="form-control"
                            data-translator-demo-target="invitationTitleOrganizationNameInput"
                            data-action="translator-demo#render"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="numOfApplesCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="numOfApplesOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="numOfApplesCountInput" class="col-3 col-form-label text-end">Count</label>
                    <div class="col">
                        <input
                            type="number"
                            min="0"
                            max="5"
                            value="2"
                            class="form-control"
                            id="numOfApplesCountInput"
                            data-translator-demo-target="numOfApplesCountInput"
                            data-action="translator-demo#render"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="finishPlaceCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="finishPlaceOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="finishPlacePlaceInput" class="col-3 col-form-label text-end">Place</label>
                    <div class="col">
                        <input
                            type="number"
                            min="1"
                            value="1"
                            class="form-control"
                            id="finishPlacePlaceInput"
                            data-translator-demo-target="finishPlacePlaceInput"
                            data-action="translator-demo#render"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="publishedAtCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="publishedAtOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="publishedAtDateInput" class="col-3 col-form-label text-end">Date</label>
                    <div class="col">
                        <input
                            type="datetime-local"
                            value="2023-04-27 08:12"
                            class="form-control"
                            id="publishedAtDateInput"
                            data-translator-demo-target="publishedAtDateInput"
                            data-action="translator-demo#render"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="progressAtCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="progressAtOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="progressAtProgressInput" class="col-3 col-form-label text-end">Progress</label>
                    <div class="col d-flex align-items-center">
                        <input
                            id="progressAtProgressInput"
                            type="range"
                            class="form-range"
                            data-translator-demo-target="progressAtProgressInput"
                            data-action="translator-demo#render"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="Terminal_body">
                    <div class="Terminal_content">
                        <pre data-translator-demo-target="valueOfObjectCode"></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <span data-translator-demo-target="valueOfObjectOutput"></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="valueOfObjectValueInput" class="col-3 col-form-label text-end">Value</label>
                    <div class="col">
                        <input
                            type="number"
                            min="1"
                            value="30"
                            class="form-control"
                            id="valueOfObjectValueInput"
                            data-translator-demo-target="valueOfObjectValueInput"
                            data-action="translator-demo#render"
                        >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
