<div class='container' style='background: {{ color|default('blue') }}'>
    {% block header %}
        <p>You have an alert!</p>
    {% endblock %}
    <div class='content'>
        {{ slots.content }}
    </div>
    {{ slots.footer|default('')|raw }}
</div>