<div>
    {{ component('textarea_component', {
        'data-model': 'value:content'
    }) }}
</div>

<div>
    {{ component('textarea_component', {
        'dataModel': 'value:content2'
    }) }}
</div>
