{% extends "base.html.twig" %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            <h1 class="text-center ubuntu mt-5">Privacy</h1>
        </div>
    </div>

    <div class="container-fluid container px-4 py-4 py-md-5" style="max-width: 40rem;">
        <h2 class="ubuntu mt-3 mt-md-5">Do we process personal data?</h2>

        <p>No. Absolutely not.</p>

        <p>This is a <strong>concise</strong> yet <strong>unequivocal</strong> answer.</p>

        <p>We do not utilize any advertising platforms or statistical tools.</p>

        <ul>
            <li>We do not use any shared trackers, such as cross-domain cookies or fingerprint identifiers.</li>
            <li>We do not store personal information about anyone.</li>
            <li>We do not share any information with third parties.</li>
        </ul>

        <p>Privacy is simple when you respect it.</p>
    </div>

{% endblock %}
