// -----------------------------------------------------------------
// Banner
// -----------------------------------------------------------------

.Banner {
  background: #0A0A0A;
  color: #fff;
}
.Banner + .App {
  position: relative;
}

.Banner:has(+ .App .AppHeader.open) {
  display: none;
}

.BannerInner {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  position: relative;
  margin: 0 auto;
}

.BannerMedia {
  align-self: center;
  justify-self: center;
}
.BannerImage {
  width: max(10vw, 40px);
  height: auto;
  filter: drop-shadow(1px 1px .5rem #000) drop-shadow(2px 2px 2rem #970404);
}

.BannerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 0.25rem;
  text-wrap: balance;
}

.BannerTitle {
  text-align: center;
  font-size: 1.2em;
  font-family: var(--font-family-title);
  margin: 0;
  color: #fff;
}

.BannerText {
  text-align: center;
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
}
.BannerText em {
  text-decoration: underline;
  text-underline-offset: .25rem;
}

.BannerAction {
  display: grid;
  place-content: center;
  justify-content: center;
}

.BannerButton {
  display: flex;
  align-items: center;
  padding: .35em .75em;
  align-self: center;
  color: #fffc;
  font-size: 1.1em;
  font-family: var(--font-family-title);
  gap: .5em;
  justify-content: center;
  background: linear-gradient(#000e, #000d) padding-box,
  linear-gradient(90deg, #D65831 0%, #D2D631 36.52%, #31D673 71.83%, #3aa3ff 100%) border-box;
  border-radius: 2em;
  border: 3px solid transparent;
  transition: all 250ms linear;
}
.BannerButton:hover {
  color: #fff;
}
.BannerButton:after {
  content: "";
  position: absolute;
  inset: 0;
}

.BannerButton svg {
  width: 1em;
  height: 1em;
  color: currentColor;
  transition: all 250ms linear;
}
.BannerButton:hover svg {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .BannerImage {
    width: 64px;
  }
  .BannerInner {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}
