// -----------------------------------------------------------------
// Banner
// -----------------------------------------------------------------

.Banner {
  --color-front: #fff;
  --color-back: #0A0A0A;
  --color-text: color-mix(in oklab, var(--color-front) 80%, var(--color-back) 20%);
  --color-light: color-mix(in oklab, var(--color-front) 50%, var(--color-back) 50%);
  
  --space-block: .5rem;
  --space-inline: 2rem;
  --font-size: .8rem;

  @media screen and (min-width: 768px) {
    --font-size: .9rem;
    --space-inline: 1rem;
  }

  background: var(--color-back);
  color: var(--color-front);
  z-index: 10;
  position: relative;
}

.Banner + .App {
  position: relative;
}

.Banner:has(+ .App .AppHeader.open) {
  transform: translateY(-100%);
}

.Banner_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-block: var(--space-block);
  gap: var(--space-inline);
  position: relative;
}

.Banner::after {
  height: 2px;
  backdrop-filter: blur(4px);
  width: 100%;
  content: "";
  background: rgb(255 255 255 / .1);
}

.Banner_content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  text-wrap: balance;
}

.Banner_text {
  margin: 0;
  font-size: var(--font-size);
  line-height: 1.3;
  font-weight: 300;
  color: var(--color-text, var(--color-front));
  .Icon {
    transform: translateY(-12%);
    margin-inline: calc(var(--space-inline) / 2);
  }
}

.Banner_link {
  color: var(--color-front);
  font-weight: 400;
  transition: all 300ms ease-out;
  transform: none;
  display: inline-flex;
  text-decoration: underline 1px;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-back);
  
  &:hover {
    transition: all 150ms ease-out;
    transform: translateY(-6%);
    text-decoration-color: var(--color-text);
    text-underline-offset: 0.3em;
  }
  
  strong {
    font-weight: 600;
  }
}

.Banner_cta {
  display: flex;
  flex-direction: row;
  gap: .75em;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;

  span {
    transition: all 350ms ease-out;
  }

  &:hover {
    span {
      transition: all 150ms linear;
      transform: translateY(-0.1em);
    }
  }

  .Icon {
    width: 1.5em;
    height: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .Banner_text .Icon,
  .Banner_text .more, 
  .Banner_cta span {
    display: none;
  }
  .Banner_cta:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 100;
  }
}
