// -----------------------------------------------------------------
// Banner
// -----------------------------------------------------------------

.Banner {
  background: #0A0A0A;
  color: #fff;
}
.Banner + .App {
  position: relative;
}

.Banner:has(+ .App .AppHeader.open) {
  display: none;
}

.BannerInner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-block: .5rem;
  gap: 1rem;
  position: relative;
}

.BannerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 0.25rem;
  text-wrap: balance;
}

.BannerText {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.3;
  font-weight: 400;
  color: #fffd;
}
.BannerText em {
  text-decoration: underline;
  text-underline-offset: .25rem;
  font-weight: 600;
  font-style: normal;
}

.BannerAction {
  display: grid;
  place-content: center;
  justify-content: center;
}

.BannerButton {
  display: flex;
  align-items: center;
  padding: .15em .5em;
  align-self: center;
  color: #fffc;
  font-size: .9em;
  font-family: var(--font-family-title);
  gap: .35em;
  justify-content: center;
  background: linear-gradient(#000e, #000d) padding-box,
  linear-gradient(90deg, #D65831 0%, #D2D631 36.52%, #31D673 71.83%, #3aa3ff 100%) border-box;
  border-radius: 2em;
  border: 2px solid transparent;
  transition: all 250ms linear;
}
.BannerButton:hover {
  color: #fff;
}
.BannerButton:after {
  content: "";
  position: absolute;
  inset: 0;
}

.BannerButton svg {
  width: 1em;
  height: 1em;
  color: currentColor;
  transition: all 250ms linear;
}
.BannerButton:hover svg {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .BannerInner {
    padding: .5rem 2rem;
  }
  .BannerText {
    font-size: .9rem;
  }
}
