.Button {
  display: inline-flex;
  align-items: center;
  justify-items: flex-end;

  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  gap: .75rem;

  background: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.Button--dark {
  background: var(--bs-body-color);
  color: var(--bs-body-bg);
  color: #dee2e6;
  border: 1px solid #a6a0a0;
}
