.Cookbook {

  .image-title {
    overflow: hidden;
    width: auto;
    border-radius: .75rem;
    aspect-ratio: 16 / 9;
    max-width: 1280px;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

  .content {
    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }

    h3 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: var(--color-text);
    }

    h4 {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }

  pre {
    margin-block: 2rem;
    border-radius: .75rem;
    background-color: #0A0A0A;
    padding: 1rem 1.5rem;
    color: #d7e2e3;
    font-size: 1rem;
    line-height: 1.5;
  }
}
