.demo-container {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-secondary-bg-subtle);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.demo-introduction {
  a {
    color: var(--bs-code-color);
    font-weight: 500;
  }
  code {
    font-size: .95em;
  }
}

.demo-container-inner {
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-secondary-bg-subtle);
  border-top: transparent;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.demo-container-inner-secondary {
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-secondary-bg-subtle);
  border-top: transparent;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.demo-chat > .demo-container-inner {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
