.FileTree ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.FileTree li > span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.FileTree-main::before {
  background: none !important;
}

.FileTree ul {
  position: relative;
  padding-inline-start: 1rem;
}

.FileTree .tooltip-inner {
  max-width: 350px;
}

.FileTree.nodots ul :not(span) {
  margin-left: 12px;
}

.FileTree ul::before {
  content: '';
  width: 1rem;
  background: url(../images/dot.svg) left top / 2px 2px;
  display: block;
  position: absolute;
}

.FileTree ul::before {
  top: 0;
  height: 100%;
  background-repeat: repeat-y;
  background-position: center;
  left: 0;
  z-index: -1;
}

