// -----------------------------------------------------------------
// IconSetCard
// -----------------------------------------------------------------

.IconSetCard {
  --radius: .75rem;
  position: relative;
  --hue: calc(var(--index) * 77);
  --iconset-color: lch(70% 110 var(--hue, 240));
  --iconset-color-bg: lch(80% 30 var(--hue, 240));
  color: var(--iconset-color);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  border: 1px solid var(--bs-secondary-bg-subtle);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
  transform: translateY(0);
  box-shadow: 0 0 0 transparent;
}

.IconSetCard:hover {
  transform: translateY(-.25rem);
  box-shadow: 0 0.125rem 2rem .25rem var(--bs-secondary-bg-subtle);
}

.IconSetCard__media {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  width: 100%;
  min-height: 100px;
  aspect-ratio: 5/3;
  overflow: hidden;
  background: var(--iconset-color-bg);
  place-content: stretch;
}

.IconSetCard__icons {
  max-height: 100%;
  width: 100%;
  border-radius: .25rem;
  place-content: stretch;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: stretch;
  align-items: stretch;
}

.IconSetCard__icon {
  display: grid;
  place-items: center;
  box-shadow: 0 0 1px 0 #0007;

  img {
    width: 50%;
    max-width: 24px;
    height: auto;
    display: block;
    opacity: var(--icon-opacity, .8);
    scale: var(--icon-scale, 1);
  }
}
.IconSetCard__icon:hover {
  --icon-scale: 1;
}
.IconSetCard:hover {
  --icon-opacity: 1;
}

.IconSetCard__icon:nth-child(even) {
  background: rgb(0 0 0 / 0.03);
}

.IconSetCard__icon:nth-child(odd) {
  background: rgb(255 255 255 / 0.03);
}

.IconSetCard__content {
  padding: .75rem 1rem;
  flex: 1;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.IconSetCard__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-family-title);
  padding: .25rem;
  color: var(--bs-body-color);

  a {
    color: inherit;
  }
}

.IconSetCard__total {
  font-size: 0.9rem;
  font-stretch: semi-condensed;
  color: var(--bs-body-color);

  em {
    color: var(--iconset-color);
    font-family: var(--font-family-code);
    font-style: normal;
    font-weight: 500;
  }

  span {
    font-size: .75rem;
  }
}

.IconSetCard__description {
  font-size: 0.9rem;
  font-stretch: semi-condensed;
  font-weight: 400;
  transition: all 250ms ease-in-out;
  opacity: .65;
  line-height: 1.4;
  padding: .25rem;
  margin: 0;
}

.IconSetCard:hover .IconSetCard__description {
  opacity: .85;
}
