.PackageHeader {
  h1 {
    text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .05);

    em {
      display: inline-flex;
      transform: skewX(-16deg) scaleY(0.95) rotate(-.5deg);
      font-weight: 400;
      text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);
      mix-blend-mode: luminosity;
      font-style: normal;
    }
  }

  .AppHeader + * &  {
    padding-top: 3rem;
  }
}
