// -----------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------

.Pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Pagination a {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  transition: opacity 0.3s;
  background: var(--bs-body-bg);
  opacity: .5;

  &[aria-current="true"],
  &:hover {
    opacity: 1;
  }
}
