
.Tag {
  --color: #C5DBF0;
  --background: #1a1e29;

  font-stretch: condensed;
  font-weight: 400;
  display: inline-flex;
  font-size: .7rem;
  padding-inline: .5rem;
  line-height: 1.4rem;
  border-radius: .45rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--color);
  background: var(--background);
  border: 1px solid #06080D88;
}
