.Wysiwyg {
    h1 {
        font-family: var(--font-family-title);
        font-size: 2.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: var(--font-family-title);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        margin-top: 2rem;
    }

    h3 {
        font-family: var(--font-family-title);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
    }

    a:not(.Terminal_title) {
        color: var(--bs-link-color);
        text-decoration: underline;
    }

    .table-responsive {
        margin-bottom: $spacer;
        border: 1px solid var(--bs-border-color);
        border-radius: .75rem;
    }

    .table-responsive .table {
        margin-bottom: 0;
    }

    .Terminal {
        margin-bottom: 1rem;
    }
}
