/assets/node_modules/
/config/reference.php
/vendor/
/composer.lock
/drivers/
/phpunit.xml
/.phpunit.cache
/tests/app/assets/vendor/
/tests/app/public/assets/
/tests/app/public/build/
/tests/app/var/
