/.php_cs.cache
/.php_cs
/.phpunit.result.cache
/composer.phar
/composer.lock
/drivers/
/phpunit.xml
/tests/app/assets/vendor/
/tests/app/public/assets/
/tests/app/public/build/
/tests/app/var/
/vendor/
node_modules/
