parameters:
	level: 8
	paths:
		- .
	excludes_analyse:
		- vendor/*
		- Tests/app/var/*
		# The Symfony Configuration API isn't good enough to be analysed
		- DependencyInjection/Configuration.php
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		- vendor/bin/.phpunit/phpunit/vendor/autoload.php
