<div>
    {{ component('textarea_component', {
        'data-model': 'content:value'
    }) }}
</div>

<div>
    {{ component('textarea_component', {
        'dataModel': 'content2:value'
    }) }}
</div>
