<div {{ attributes }}>

    <data id="count" value="{{ count }}">{{ count }}</data>

    <button id="click" type="button" data-action="live#action" data-action-name="click">Click</button>

    <button id="reset" type="button" data-action="live#action" data-action-name="reset">Reset</button>

</div>
