<a
    href="{{ path('app_turbo') }}#turbo-streams"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    class="nav-options"
    id="message-count-header"
    title="The number of chat messages from Turbo Streams">
    <twig:Icon name="comment" /> {{ messageCount }}
</a>
