<a
    href="{{ path('app_turbo') }}#turbo-streams"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    class="nav-options"
    id="message-count-header"
    title="The number of chat messages from Turbo Streams">
    <span class="fa-solid fa-comment-dots"></span> {{ messageCount }}
</a>