{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a TODO Item</h1>

    {{ include('turbo/_demo_message.html.twig') }}

    <turbo-frame id="daily-todos">
        <a href="{{ path('app_turbo_todo_list') }}"><i class="fa-solid fa-arrow-left"></i> Back to list</a>
        <form class="mt-4" action="{{ path('app_turbo_add_todo_item') }}" method="POST" novalidate>
            {{ form_row(form.item, {
                attr: {
                    placeholder: 'Go on a run... to the donut shop',
                    autofocus: true,
                },
                label: 'What should we do?'
            }) }}

            <button type="submit" class="btn btn-dark mt-4" style="width: 100%;">Create!</button>
        </form>
    </turbo-frame>
{% endblock %}

