.components-container {
  background: var(--bs-body-bg);
  border-radius: 1rem;
  border: 0.66px solid var(--bs-secondary-bg-subtle);

  h4 {
    margin-bottom: 0;
  }
}

.ux-container {
  border: 1px solid var(--bs-secondary-bg-subtle);
  border-radius: 1rem;
}



.markdown-container {
  border: 1px solid var(--bs-secondary-bg-subtle);
  border-radius: .75rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.markdown-form-render-container {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  width: 100%;
}
