.component-img {
    width: 85px;
    height: 85px;
    border-radius: 20px;
}

.live-component-img {
    width: 45px;
    height: 45px;
    border-radius: 12px;
}

.img-dark-negative {
    [data-bs-theme="dark"] & {
        filter: invert(100%) hue-rotate(180deg);
    }
}
