.component-img {
    width: 85px;
    height: 85px;
    border-radius: 20px;
}

.live-component-img {
    width: 45px;
    height: 45px;
    border-radius: 12px;
}

.nav-component-img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.testimonial-img {
    border-radius: 50px;
}

.logo {
    background: url(../images/sf-ux-logo.svg);
    height: 30px;
    width: 161px;
}

.logo-white {
    background: url(../images/sf-ux-logo-white.svg);
    height: 30px;
    width: 161px;
}

.arrow {
    background: url(../images/arrow.png);
    width: 100%;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-2 {
    background: url(../images/arrow-2.png);
    width: 100%;
    height: 66px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}