// Neutral Color List
$n-50: #F2F2F2;
$n-100: #D9D9D9;
$n-200: #BFBFBF;
$n-300: #A6A6A6;
$n-400: #8C8C8C;
$n-500: #737373;
$n-600: #595959;
$n-700: #404040;
$n-800: #262626;
$n-900: #0D0D0D;
$red: #FB4040;
$yellow: #FBC640;
$green: #84DE2C;