@import './variables';
@import '~bootstrap';

@import './container';
@import './navigation';
@import './images';
@import './type';
@import './terminal';
@import './highlight';
@import './live_demos';

/*
 * External Fonts
 */

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/700-italic.css';
@import '@fontsource/space-mono';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/700.css';

body {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #0A0A0A;
}

a, a.page-link, a.page-link:hover {
    text-decoration: none;
    color: #0A0A0A;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown button {
    border: none;
    background: none;
    display: block;
}
.nav-white-mode .nav-options, i.nav-white-mode {
    color: #fff;
}

footer {
    height: 100px;
}

.hero-background {
    background: url(../images/background_homepage.png);
}

#cropper-preview {
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.alert-right-message {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
    font-size: .8rem;
}

.page-item.active .page-link {
    background-color: $n-700;
    border-color: $n-700;
}

.btn-expand-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(156 163 175);
    background-color: rgb(55 65 81);
}
.btn-expand-code:hover, .btn-expand-code:active {
    background-color: rgb(55 65 81) !important;
    color: #fff !important;
}
.code-description a {
    text-decoration: underline;
}
