// Bootstrap foundation
@import "../../vendor/twbs/bootstrap/scss/functions";

// Default variable overrides
@import "variables";

// $enable-cssgrid: true
// $enable-grid-classes: true;

// Bootstrap variables
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/variables-dark";

// Remove Bootstrap variables/overrides
$theme-colors: map-remove($theme-colors, "info", "light");

// Boostrap remainder of required parts
@import "../../vendor/twbs/bootstrap/scss/maps";
@import "../../vendor/twbs/bootstrap/scss/mixins";
@import "../../vendor/twbs/bootstrap/scss/utilities";
@import "../../vendor/twbs/bootstrap/scss/root";

// Remove multiple utilities with a comma-separated list
// Margin
$utilities: map-remove(
    $utilities,
    // Background
    "bg-opacity",
    "subtle-background-color",

    // Negative margin
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    // Link
    "link-opacity",
    "link-offset",
    "link-underline",
    "link-underline-opacity",
    // Border
    "border",
    "border-top",
    "border-end",
    "border-bottom",
    "border-start",
    "border-color",
    "subtle-border-color",
    "border-width",
    "border-opacity",
    // Position
    "top",
    "bottom",
    "start",
    "end",
    "translate-middle",
);

// Layout & components
@import "../../vendor/twbs/bootstrap/scss/reboot";
@import "../../vendor/twbs/bootstrap/scss/type";
@import "../../vendor/twbs/bootstrap/scss/images";
@import "../../vendor/twbs/bootstrap/scss/containers";
@import "../../vendor/twbs/bootstrap/scss/grid";
@import "../../vendor/twbs/bootstrap/scss/tables";
@import "../../vendor/twbs/bootstrap/scss/forms";
@import "../../vendor/twbs/bootstrap/scss/buttons";
// @import "../../vendor/twbs/bootstrap/scss/transitions";
// @import "../../vendor/twbs/bootstrap/scss/dropdown";
// @import "../../vendor/twbs/bootstrap/scss/button-group";
@import "../../vendor/twbs/bootstrap/scss/nav";
// @import "../../vendor/twbs/bootstrap/scss/navbar";
@import "../../vendor/twbs/bootstrap/scss/card";
// @import "../../vendor/twbs/bootstrap/scss/accordion";
// @import "../../vendor/twbs/bootstrap/scss/breadcrumb";
// @import "../../vendor/twbs/bootstrap/scss/pagination";
// @import "../../vendor/twbs/bootstrap/scss/badge";
@import "../../vendor/twbs/bootstrap/scss/alert";
// @import "../../vendor/twbs/bootstrap/scss/progress";
// @import "../../vendor/twbs/bootstrap/scss/list-group";
@import "../../vendor/twbs/bootstrap/scss/close";
// @import "../../vendor/twbs/bootstrap/scss/toasts";
@import "../../vendor/twbs/bootstrap/scss/modal";
@import "../../vendor/twbs/bootstrap/scss/tooltip";
// @import "../../vendor/twbs/bootstrap/scss/popover";
// @import "../../vendor/twbs/bootstrap/scss/carousel";
// @import "../../vendor/twbs/bootstrap/scss/spinners";
// @import "../../vendor/twbs/bootstrap/scss/offcanvas";
// @import "../../vendor/twbs/bootstrap/scss/placeholders";

// Helpers
@import "../../vendor/twbs/bootstrap/scss/helpers/clearfix";
//@import "../../vendor/twbs/bootstrap/scss/helpers/color-bg";
//@import "../../vendor/twbs/bootstrap/scss/helpers/colored-links";
@import "../../vendor/twbs/bootstrap/scss/helpers/focus-ring";
//@import "../../vendor/twbs/bootstrap/scss/helpers/icon-link";
//@import "../../vendor/twbs/bootstrap/scss/helpers/ratio";
//@import "../../vendor/twbs/bootstrap/scss/helpers/position";
@import "../../vendor/twbs/bootstrap/scss/helpers/stacks";
//@import "../../vendor/twbs/bootstrap/scss/helpers/visually-hidden";
@import "../../vendor/twbs/bootstrap/scss/helpers/stretched-link";
//@import "../../vendor/twbs/bootstrap/scss/helpers/text-truncation";
//@import "../../vendor/twbs/bootstrap/scss/helpers/vr";



// Utilities
@import "../../vendor/twbs/bootstrap/scss/utilities/api";

// Base
@import "app/font";
@import "app/html";
@import "app/root";
@import "app/typography";

// Layouts
@import "layouts/container";
@import "layouts/cluster";
@import "layouts/grid";
@import "layouts/section";

// Components
@import "components/Badge";
@import "components/Banner";
@import "components/Button";
@import "components/Browser";
@import "components/Changelog";
@import "components/DataList";
@import "components/DemoContainer";
@import "components/DemoCard";
@import "components/DocsLink";
@import "components/FeatureBox";
@import "components/FileTree";
@import "components/Icon";
@import "components/IconGrid";
@import "components/IconModal";
@import "components/IconSearch";
@import "components/IconSetCard";
@import "components/Pagination";
@import "components/ProductGrid";
@import "components/PackageHeader";
@import "components/PackageBox";
@import "components/PackageList";
@import "components/Cookbook";
@import "components/SupportBox";
@import "components/Tabs";
@import "components/Tag";
@import "components/Terminal";
@import "components/TerminalCommand";
@import "components/ThemeSwitcher";

// Utilities
@import "utilities/arrow";
@import "utilities/background";
@import "utilities/info-tooltips";
@import "utilities/font";
@import "utilities/shadow";
@import "utilities/text";

// Vendors customization
@import "vendor/bootstrap";
@import "vendor/highlight";
@import "vendor/tom-select";

// Sections
@import "sections/header";
@import "sections/nav";
@import "sections/hero";

@import "./container";
@import "./images";

.code-description a {
    text-decoration: underline;
}

