// Bootstrap foundation
@import "../../vendor/twbs/bootstrap/scss/functions";

// Default variable overrides
@import "variables";

// $enable-cssgrid: true
// $enable-grid-classes: true;

// Bootstrap variables
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/variables-dark";

// Boostrap remainder of required parts
@import "../../vendor/twbs/bootstrap/scss/maps";
@import "../../vendor/twbs/bootstrap/scss/mixins";
@import "../../vendor/twbs/bootstrap/scss/utilities";
@import "../../vendor/twbs/bootstrap/scss/root";

// Layout & components
@import "../../vendor/twbs/bootstrap/scss/reboot";
@import "../../vendor/twbs/bootstrap/scss/type";
@import "../../vendor/twbs/bootstrap/scss/images";
@import "../../vendor/twbs/bootstrap/scss/containers";
@import "../../vendor/twbs/bootstrap/scss/grid";
@import "../../vendor/twbs/bootstrap/scss/tables";
@import "../../vendor/twbs/bootstrap/scss/forms";
@import "../../vendor/twbs/bootstrap/scss/buttons";
@import "../../vendor/twbs/bootstrap/scss/transitions";
@import "../../vendor/twbs/bootstrap/scss/dropdown";
// @import "../../vendor/twbs/bootstrap/scss/button-group";
@import "../../vendor/twbs/bootstrap/scss/nav";
@import "../../vendor/twbs/bootstrap/scss/navbar";
@import "../../vendor/twbs/bootstrap/scss/card";
// @import "../../vendor/twbs/bootstrap/scss/accordion";
// @import "../../vendor/twbs/bootstrap/scss/breadcrumb";
@import "../../vendor/twbs/bootstrap/scss/pagination";
@import "../../vendor/twbs/bootstrap/scss/badge";
@import "../../vendor/twbs/bootstrap/scss/alert";
// @import "../../vendor/twbs/bootstrap/scss/progress";
// @import "../../vendor/twbs/bootstrap/scss/list-group";
@import "../../vendor/twbs/bootstrap/scss/close";
// @import "../../vendor/twbs/bootstrap/scss/toasts";
@import "../../vendor/twbs/bootstrap/scss/modal";
@import "../../vendor/twbs/bootstrap/scss/tooltip";
// @import "../../vendor/twbs/bootstrap/scss/popover";
// @import "../../vendor/twbs/bootstrap/scss/carousel";
// @import "../../vendor/twbs/bootstrap/scss/spinners";
// @import "../../vendor/twbs/bootstrap/scss/offcanvas";
// @import "../../vendor/twbs/bootstrap/scss/placeholders";
// Helpers
@import "../../vendor/twbs/bootstrap/scss/helpers";
// Utilities
@import "../../vendor/twbs/bootstrap/scss/utilities/api";

// Base
@import "app/font";
@import "app/html";
@import "app/root";
@import "app/typography";

// Layouts
@import "layouts/grid";

// Components
@import "components/demo-container";
@import "components/DocsLink";
@import "components/file_tree";
@import "components/Icon";
@import "components/PackageHeader";
@import "components/PackageBox";
@import "components/Terminal";
@import "components/TerminalCommand";
@import "components/ThemeSwitcher";

// Utilities
@import "utilities/arrow";
@import "utilities/background";
@import "utilities/info-tooltips";
@import "utilities/font";
@import "utilities/shadow";
@import "utilities/text";

// Vendors customization
@import "vendor/bootstrap";
@import "vendor/highlight";
@import "vendor/tom-select";

// Sections
@import "sections/header";
@import "sections/nav";
@import "sections/hero";

@import "./container";
@import "./images";

// TODO move Terminal/CodeBlock
.btn-expand-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(156 163 175);
    background-color: rgb(55 65 81);
}
.btn-expand-code:hover, .btn-expand-code:active {
    background-color: rgb(55 65 81) !important;
    color: #fff !important;
}
.code-description a {
    text-decoration: underline;
}
