
<div class="container-fluid container-xxl p-4 p-md-5">
    <div style="display: flex; gap: 3rem; flex-wrap: wrap;" class="justify-content-center justify-content-lg-between">
        {% set previous = this.previous(true) %}
        {% if previous %}
            <div style="max-width: 360px;--bs-secondary-bg-subtle: var(--bs-dark-bg-subtle);">
                <twig:Demo:DemoCard demo="{{ previous }}" />
            </div>
        {% endif %}
        {% set next = this.next(true) %}
        {% if next %}
            <div style="max-width: 360px;--bs-secondary-bg-subtle: var(--bs-dark-bg-subtle);">
                <twig:Demo:DemoCard demo="{{ next }}" />
            </div>
        {% endif %}
    </div>
</div>
