<twig:Turbo:Stream:Replace target="#form">
    <div id="form">
        This div replaces the existing element with the DOM ID "form".
    </div>
</twig:Turbo:Stream:Replace>

<twig:Turbo:Stream:Append target="#another_block">
    <div>Appended!</div>
</twig:Turbo:Stream:Append>
