<turbo-stream action="replace" target="form">
    <template>
        <div id="form">
            This div replaces the existing element with the DOM ID "form".
        </div>
    </template>
</turbo-stream>

<turbo-stream action="append" target="another_block">
    <template>
        <div>Appended!</div>
    </template>
</turbo-stream>
