/.git* export-ignore
/assets/src export-ignore
/assets/test export-ignore
/assets/playwright.config.ts export-ignore
/assets/tsconfig.json export-ignore
/phpunit.dist.xml export-ignore
/tests export-ignore
