
<div{{ attributes.defaults({class: 'LiveMemory-Logo'}) }}>
    <svg class="LiveMemory-Logo-Live" width="70" height="16" viewBox="0 0 70 16" fill="currentColor">
        <path style="--idx: 0;" d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4Zm10.6 8v-1.6H7V3.7H5V12h5.6Z"/>
        <path style="--idx: 1;" d="M18 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4h-8a4 4 0 0 1-4-4V4Zm9-.3h-2V12h2V3.7Z"/>
        <path style="--idx: 2;" d="M36 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4h-8a4 4 0 0 1-4-4V4Zm6.1 5.8 1 2.2h1.8a62.5 62.5 0 0 0 3.3-8.3h-2a193.6 193.6 0 0 1-2.2 6A23.8 23.8 0 0 1 43 7l-.6-1.7-.5-1.5h-2.1a90.6 90.6 0 0 0 2.2 6Z"/>
        <path style="--idx: 3;" d="M54 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4h-8a4 4 0 0 1-4-4V4Zm5.3-.3V12h6v-1.6h-4.1v-2h3.3V7h-3.3V5.3h3.7V3.7h-5.6Z"/>
    </svg>

    <svg class="LiveMemory-Logo-Memory" width="99" height="16" viewBox="0 0 99 16" fill="currentColor">
        <path d="M5.4.4a34.2 34.2 0 0 1 2 4 81.7 81.7 0 0 1 2 5 4547.5 4547.5 0 0 1 3.3-7.2l1-1.8h3a67.8 67.8 0 0 1 .8 7.3 184.3 184.3 0 0 1 .5 7.9h-3.4a396.5 396.5 0 0 0-.5-10.1l-.9 2-1 2.3a200.1 200.1 0 0 1-1.6 3.9H8.2a217.3 217.3 0 0 0-3.5-8.2 130.8 130.8 0 0 0-.5 10.1H1a778 778 0 0 1 .8-11.8c0-1.3.2-2.4.4-3.4h3.3ZM21 15.6V.4h10.3v2.8h-6.8v3h6V9h-6v3.7h7.4v2.9H21ZM38.4.4a34.2 34.2 0 0 1 2 4 81.9 81.9 0 0 1 2.2 5 4786.1 4786.1 0 0 1 3.2-7.2 5 5 0 0 1 1-1.8h3a67.6 67.6 0 0 1 .8 7.3 183 183 0 0 1 .4 7.9h-3.3a396.5 396.5 0 0 0-.5-10.1l-.9 2-1 2.3a200.1 200.1 0 0 1-1.6 3.9h-2.4a217.7 217.7 0 0 0-3.5-8.2 130.6 130.6 0 0 0-.5 10.1H34a786 786 0 0 1 .7-11.8l.5-3.4h3.2ZM57 8a6.4 6.4 0 0 0 1.1 3.6 3.7 3.7 0 0 0 3 1.3 4 4 0 0 0 1.7-.4c.5-.2.9-.5 1.2-1 .4-.4.7-1 .8-1.5a6.7 6.7 0 0 0 0-4c-.1-.7-.4-1.2-.8-1.6-.3-.5-.7-.8-1.2-1A4 4 0 0 0 61 3a3.8 3.8 0 0 0-3.8 3 6 6 0 0 0-.3 2Zm11.7 0a9 9 0 0 1-.6 3.4 6.6 6.6 0 0 1-4 4 8.7 8.7 0 0 1-6 0 6.9 6.9 0 0 1-4-4 9 9 0 0 1-.6-3.4c0-1.3.2-2.5.6-3.5A9 9 0 0 1 55.7 2 7 7 0 0 1 58.2.5a8.4 8.4 0 0 1 5.8 0 6.7 6.7 0 0 1 4 4c.5 1 .7 2.2.7 3.5ZM76 .2c2.3 0 4 .4 5.2 1.2 1.3.8 1.9 2 1.9 3.8 0 1-.3 2-.8 2.6-.5.7-1.2 1.2-2 1.6a19.5 19.5 0 0 1 1.9 2.8 22.7 22.7 0 0 1 1.8 3.4h-4a183.4 183.4 0 0 0-3.5-5.6H75v5.6h-3.4V.6A19.5 19.5 0 0 1 76 .2Zm.2 2.9a9.6 9.6 0 0 0-1.3 0v4.2h1c1.3 0 2.2-.2 2.8-.5.5-.3.8-.9.8-1.6 0-.8-.3-1.3-.8-1.6a5 5 0 0 0-2.5-.5ZM91 6.6A84 84 0 0 0 94.3.4h3.8a97.8 97.8 0 0 1-5.4 9.4v5.8h-3.4V9.8A132.9 132.9 0 0 1 83.8.4h4A56.2 56.2 0 0 0 91 6.6Z"/>
    </svg>
</div>
