<aside class="Banner">
    <div class="container-xxl">
        <div class="BannerInner">
            <div class="BannerMedia">
                <picture>
                    <source type="image/webp" srcset="{{ asset('images/heart.webp') }}"/>
                    <img src="{{ asset('images/heart.png') }}" alt="Clock" class="BannerImage" width="256" height="256">
                </picture>
            </div>
            <div class="BannerContent">
                <p class="BannerTitle">Help <a href="https://twitter.com/weaverryan/">Ryan</a> Get The Treatment He
                    Needs!</p>
                <p class="BannerText">
                    Ryan is the lead maintainer of Symfony UX and always gives so much to the community.
                </p>
                <p class="BannerText">
                    Now he <em>needs your help</em>. Please donate to support him in this battle.
                </p>
            </div>
            <div class="BannerAction">
                <a href="https://gofund.me/44ecdba2" class="BannerButton" rel="external">
                    <twig:Icon name="heart" aria-hidden="true"/>
                    Donate
                </a>
            </div>
        </div>
    </div>
</aside>
