<aside class="Banner">
    <div class="container-xxl">
        <div class="BannerInner">
            <div class="BannerContent">
                <p class="BannerText">
                    Ryan is the lead maintainer of Symfony UX. Now he <em>needs your help</em>.
                </p>
            </div>
            <div class="BannerAction">
                <a href="https://gofund.me/44ecdba2" class="BannerButton" rel="external">
                    <twig:ux:icon name="heart" aria-hidden="true"/>
                    Donate
                </a>
            </div>
        </div>
    </div>
</aside>
