<aside class="Banner">
    <div class="container-xxl">
        <div class="BannerInner">
            <div class="BannerMedia">
                <picture>
                    <source type="image/webp" srcset="{{ asset('images/heart.webp') }}"/>
                    <img src="{{ asset('images/heart.png') }}" alt="Heart" class="BannerImage" width="64" height="64">
                </picture>
            </div>
            <div class="BannerContent">
                <p class="BannerTitle">Help Ryan Get The Treatment He Needs!</p>
                <p class="BannerText">
                    Ryan is the lead maintainer of Symfony UX. Now he <em>needs your help</em>.
                </p>
            </div>
            <div class="BannerAction">
                <a href="https://gofund.me/44ecdba2" class="BannerButton" rel="external">
                    <twig:Icon name="heart" aria-hidden="true"/>
                    Donate
                </a>
            </div>
        </div>
    </div>
</aside>
