<footer>
    <div class="container-fluid container-xxl py-5 px-lg-5">
        <div class="row align-items-center" style="--bs-gutter-x: 0;">
            <div class="col-12 col-xl-3 order-xl-3 text-center text-xl-end">
                <p class="d-flex align-items-center justify-content-center justify-content-xl-end mb-0" style="gap: .5rem;">
                    <a href="https://github.com/symfony/ux" rel="external noopener noreferrer"
                       style="font-size: 1.5rem;"
                       aria-label="Symfony UX on GitHub"
                       class="order-lg-1"
                    >
                        <twig:ux:icon name="github"/>
                    </a>
                    <a href="{{ url('app_documentation') }}" style="font-size: 11px; text-transform: uppercase;" class="order-lg-0">Docs</a>
                    <a href="{{ url('app_changelog') }}" style="font-size: 11px; text-transform: uppercase;" class="order-lg-0">Changelog</a>
                    <a href="{{ url('app_support') }}" style="font-size: 11px; text-transform: uppercase;" class="order-lg-0">Support</a>
                    <a href="https://symfony.com" rel="external noopener noreferrer"
                       style="font-size: 1.5rem;"
                       aria-label="Symfony website"
                    >
                        <twig:ux:icon name="symfony"/>
                    </a>
                </p>
            </div>
            <div class="col-12 col-xl-6 order-xl-2">
                <p class="mb-xl-0 mt-3 mt-xl-0 text-center" style="font-size: 12px; text-transform: uppercase;">
                    <span class="d-block d-md-inline">
                        crafted by
                        <a href="https://symfonycasts.com"
                           rel="external noopener noreferrer"
                           style="font-weight: 700;"
                        >SymfonyCasts</a>
                        &amp;
                        <a href="https://locastic.com"
                           rel="external noopener noreferrer"
                           style="font-weight: 700;"
                        >Locastic</a><span class="d-none d-md-inline">,</span>
                    </span>
                    <span class="d-block d-md-inline">
                        hosted with
                        <span style="font-weight: 700;">
                            <a href="https://platform.sh"
                               rel="external noopener noreferrer"
                               style="font-weight: 700;"
                            >Platform.sh</a>
                        </span>
                    </span>
                </p>
            </div>
            <div class="col-12 col-xl-3 text-center text-xl-start">
                <p class="mb-0" style="font-size: 11px; text-transform: uppercase;">
                    &copy;
                    <a href="https://symfony.com" style="font-weight: 700;">Symfony</a>
                    All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
