<div>
    This is a demo showing off how "Turbo Frames"
    can embed this list (and the "Add item form")
    into a "Frame" that navigates independently from
    the rest of the page.
</div>

<div>
    Check out: <a href="{{ path('app_turbo') }}#frames">Turbo Frames</a>
    to see this in action.
</div>
