<div
    {{ init_live_component(this) }}
>
    Arg1: {{ this.called ? this.arg1 : 'not provided' }}
    Arg2: {{ this.called ? this.arg2 : 'not provided' }}
    Arg3: {{ this.called ? this.arg3 : 'not provided' }}
</div>
