<table>
    {{- component('table_row', {
        align: 'center',
        cells: [
            component('table_cell', { align: 'left', content: 'ID' }),
            component('table_cell', { align: 'right', content: 'Name' })
        ],
    }) -}}
</table>