{% props source, link %}

<div
    data-controller="tooltips clipboarder"
    data-clipboarder-source-value="{{ source }}"
    class="code-buttons"
>
    <a
        href="{{ link }}"
        type="button"
        rel="external noopener noreferrer"
        target="_blank"
        class="btn btn-link btn-sm"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="View on GitHub"
    >
        <twig:Icon name="github"/>
    </a>
    <button
        type="button"
        class="btn btn-link btn-sm btn-copy"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Copy code"
        data-action="clipboarder#copy"
        data-clipboarder-target="button"
    >
        <twig:Icon name="copy"/>
    </button>
</div>
