<a
    {{ attributes.defaults({
        href: url,
        rel: isExternal ? 'external noopener noreferrer',
    }) }}
>
    <div class="light-container p-4">
        <p class="ubuntu-header">
            {{ title }}
            {% if isExternal %}
                <twig:Icon name="arrow-right" style="transform: rotate(-45deg);" />
            {% endif %}
        </p>
        <p>{{ text }}</p>
    </div>
</a>
