<div class="hero">
    <div class="container-fluid container-xxl px-4 pt-4 px-md-5">
        {% if eyebrows|default %}
            <p class="eyebrows text-center mt-5">{{ eyebrows }}</p>
        {% endif %}
        <h1 class="text-center">
            <a href="{{ url ?? url(app.current_route) }}">{{ title }}</a>
        </h1>
        {% if block('content') is defined %}
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4 text-center demo-introduction">
                {{ block('content') }}
            </div>
        {% endif %}
    </div>
</div>
