<div {{ attributes.defaults({
    class: 'row mb-5 position-relative'
}) }}>
    <div class="col-12 col-md-6">
        <twig:CodeBlock :filename="file1" />
    </div>
    <div class="col-12 col-md-6">
        <twig:CodeBlock :filename="file2" />
    </div>
</div>
