<div {{ attributes.defaults({class: 'TerminalCommand'}) }}
    data-controller="ux-clipboard"
    data-ux-clipboard-source-value="{{ command }}"
>
    <pre
        class="TerminalCommand_input"
        aria-label="{{ label|default }}"
    ><code>{{ command }}</code></pre>
    <button
        type="button"
        class="TerminalCommand_action btn btn-copy"
        aria-label="Copy command"
        data-action="ux-clipboard#copy"
    >
        <twig:Icon name="copy"/>
    </button>
</div>
