{#
    "PackageSearch" mounts assets/react/controllers/PackageSearch.jsx.

    "packagesData" is dynamic data, which becomes the "packages" prop!
#}

<div {{ react_component('PackageSearch', {
    packages: packagesData
}) }}>
    Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
</div>
