<span {{ stimulus_controller('symfony/ux-typed', {
    strings: [
        'I ❤️ Symfony UX!',
        'Symfony UX Typed loves to type',
        'Symfony UX Typed and backspace',
        'Control the speed',
        'Control the cursor',
    ],
    showCursor: true,
    cursorChar: '✨',
}) }}></span>
