{#
    "PackageSearch" mounts assets/vue/controllers/PackageSearch.vue.

    "packagesData" is dynamic data, which becomes the "packages" prop!
#}

<div {{ vue_component('PackageSearch', {
    packages: packagesData
}) }}>
    Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
</div>
