<div class="demo-container p-4">
    <img width="30px" src="{{ asset('build/images/sf-logo.png') }}" alt="Symfony logo"><p class="d-inline ms-2">{% block demo_title %}{% endblock %}</p>
</div>
<div class="demo-container-inner {% block demo_content_padding %}p-4{% endblock %}">
    {% block demo_content %}{% endblock %}
</div>

{% block demo_content_secondary %}{% endblock %}
