<div class="" style="display: grid; gap: 2rem;  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));">
    {% for package in packages %}
        <twig:PackageBox :package="package" />
    {% endfor %}
</div>
