
<div style="display: grid; gap: 3rem; grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));">
    {% for package in packages %}
        <twig:PackageBox :package="package" />
    {% endfor %}
</div>
