<h1 class="ubuntu mb-5" style="text-align: center; margin-top: 106px;">Making life easier for <br>developers worldwide</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="testimonial-container">
            <div class="comment">
                “Sed nunc, viverra euismod est lacus. Eget amet nun diam nec feugiat Sed nunc imperdiet amet. Sed nunc, viverra euismod est lacus. Sed nunc, viverra euismod est lacus.
            </div>
            <div class="d-flex justify-content-between mt-5">
                <div>
                    <div class="d-flex justify-content-start">
                        <img src="https://via.placeholder.com/50x50" class="testimonial-img">
                        <div class="ps-3"><span style="font-weight: bold;">Jamie Gullen</span> <br> Co-founder at Acme</div>
                    </div>
                </div>
                <div>
                    <i class="fa-brands fa-twitter icon-testimonial"></i>
                    <i class="fa-brands fa-github icon-testimonial"></i>
                </div>

            </div>
        </div>
        <div class="testimonial-container mt-4">
            <div class="comment">
                “Sed nunc, viverra euismod est lacus. Eget amet nun diam nec feugiat Sed nunc imperdiet amet. Sed nunc, viverra euismod est lacus. Sed nunc, viverra euismod est lacus.
            </div>
            <div class="d-flex justify-content-between mt-5">
                <div>
                    <div class="d-flex justify-content-start">
                        <img src="https://via.placeholder.com/50x50" class="testimonial-img">
                        <div class="ps-3"><span style="font-weight: bold;">Jamie Gullen</span> <br> Co-founder at Acme</div>
                    </div>
                </div>
                <div>
                    <i class="fa-brands fa-twitter icon-testimonial"></i>
                    <i class="fa-brands fa-github icon-testimonial"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="testimonial-container">
            <div class="comment  testimonial-large">
                “Sed nunc, viverra euismod est lacus. Eget amet nun diam nec feugiat Sed nunc imperdiet amet. Sed nunc, viverra euismod est lacus. Sed nunc, viverra euismod est lacus.
            </div>
            <div class="d-flex justify-content-between mt-5">
                <div>
                    <div class="d-flex justify-content-start">
                        <img src="https://via.placeholder.com/50x50" class="testimonial-img">
                        <div class="ps-3"><span style="font-weight: bold;">Jamie Gullen</span> <br> Co-founder at Acme</div>
                    </div>
                </div>
                <div>
                    <i class="fa-brands fa-twitter icon-testimonial"></i>
                    <i class="fa-brands fa-github icon-testimonial"></i>
                </div>

            </div>
        </div>
    </div>
</div>
