/assets/src export-ignore
/assets/test export-ignore
/assets/playwright.config.ts export-ignore
/assets/vitest.config.mjs export-ignore
/tests export-ignore
/.git* export-ignore
/phpunit.xml.dist export-ignore
